body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px -5px #808080;
          box-shadow: 0 0 25px -5px #808080;
}

.navigation {
  position: relative;

  font-weight: 700;
  line-height: 26px;
}

.navigation-logo {
  position: absolute;
  top: 0px;
  left: 531px;
  z-index: 10;
}

.logo-image {
  display: block;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 14px 6% 16px 6%;

  list-style: none;
}

.navigation-item {
  width: 240px;
}

.navigation-item a {
  display: block;

  border: 0;
}

.navigation-item:nth-child(1) a,
.navigation-item:nth-child(2) a {
  text-align: left;
}

.navigation-item:nth-child(3) a,
.navigation-item:nth-child(4) a {
  text-align: right;
}

.navigation-item:nth-child(3) {
  margin-left: auto;
}

.navigation-list a,
.hotel-heading a {
  color: #000000;
}

.navigation-list a:hover,
.hotel-heading a:hover {
  color: #81b3d2;
}

.navigation-list a:active,
.hotel-heading a:active {
  color: #b5b5b5;
}

.welcome {
  position: relative;

  width: 1200px;
  height: 508px;

  background-image: url("../img/intro.jpg");
  background-position: 0px -56px;
}

.welcome::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 1200px;
  height: 57px;

  background-image: url("../img/intro-bottom.png");
}

.row-intro {
  padding-top: 60px;
  padding-bottom: 37px;

  text-align: center;
}

.intro {
  display: block;
  width: 450px;
  margin: 0 auto 27px auto;

  font-size: 21px;
  line-height: 26px;
}

.row-intro p {
  display: block;

  line-height: 26px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  text-align: center;
}

.row-image {
  width: 800px;
  height: 256px;

  background-image: url("../img/img-motel.jpg");
}

.card {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 59px;

  background-color: #eeeeee;
}

.seagull {
  color: #ffffff;

  background-color: #81b3d2;
}

.motel-image {
  display: block;
}

.card-heading {
  width: 160px;
  margin: 0px auto 24px auto;

  font-weight: 700;
  font-size: 21px;
}

.card-number {
  display: block;
  margin: 0px auto 21px auto;
}

.card-text {
  width: 290px;
  margin: 0 auto;
}

.canyon-text {
  width: 310px;
}

.row-image-canyon {
  width: 800px;
  height: 256px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;

  background-image: url("../img/img-canyon.jpg");
}

.card-heading-grey {
  width: 125px;
}

.card-text-grey {
  width: 270px;
}

.features {
  width: 400px;
  padding-top: 60px;
  padding-bottom: 82px;
}

.food {
  padding-top: 61px;
}

.souvenirs {
  padding-top: 56px;
}

.features::before {
  content: "";

  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 29px auto;

  background-image: url("../img/icon-hotel.svg");
  background-repeat: no-repeat;
}

.food::before {
  width: 74px;
  height: 70px;
  margin-bottom: 30px;
  margin-left: 158px;

  background-image: url("../img/icon-food.svg");
}

.souvenirs::before {
  width: 64px;
  height: 76px;

  background-image: url("../img/icon-souvenirs.svg");
}

.features-heading {
  margin: 0 auto 24px auto;
}

.featured-text {
  width: 305px;
}

.row-position {
  position: relative;
  z-index: 30;
}

.search-row {
  position: relative;
  z-index: 20;

  padding-top: 50px;

  background-color: #ffffff;
}

.search-heading {
  margin: 0 auto 24px auto;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-text {
  margin: 0 auto 47px auto;

  line-height: 24px;
  text-align: center;
}

.button {
  font: inherit;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.brown-button {
  background-color: #766357;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  color: #857871;

  background-color: #503e33;
}

.seagull-button {
  background-color: #81b3d2;
}

.seagull-button:hover,
.seagull-button:focus {
  background-color: #669ec0;
}

.seagull-button:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.search-button,
.form-button {
  display: block;
  width: 568px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.form-button {
  width: 458px;
  margin-top: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-button {
  position: relative;

  padding-top: 30px;
  padding-bottom: 30px;
}

.search {
  position: relative;
}

.search-container {
  position: absolute;
  top: 100%;
  left: 316px;
  z-index: 10;

  display: none;
  width: 568px;
  height: 395px;
  margin: 0 auto;
  padding: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px -5px #808080;
          box-shadow: 0 0 25px -5px #808080;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.input-wrapper-union {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-label {
  width: 113px;
  padding-top: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.child-label {
  width: 65px;
  margin-left: 53px;
}

.input-date {
  display: block;
  width: 346px;
  padding: 9px 12px 8px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-calendar {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.calendar {
  position: absolute;
  top: 7px;
  right: 3px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  background: transparent;
  outline: none;
}

.calendar path {
  fill: #ababab;
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.search-form input {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.amount-button {
  width: 38px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 700;
  font-size: 26px;
  color: #a9a9a9;

  background-color: #f2f2f2;
  outline: none;
}

.amount-button:hover,
.amount-button:focus {
  color: #000000;
}

.amount-button:active {
  color: #81b3d2;
}

.input-amount {
  width: 38px;
  padding-top: 9px;
  padding-bottom: 7px;

  text-align: center;

  background-color: #f2f2f2;
}

.input-plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  height: 593px;

  background: #999999;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding-top: 36px;
  padding-bottom: 36px;

  line-height: 26px;
}

.main-footer-position {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  width: 400px;
  margin: 0;

  font-weight: 700;
  font-size: 21px;

  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 151px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active path {
  fill: #88b6d1;
  background-color: #5496bd;
}

.footer-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0;
}

.copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 41px;
  margin-left: 7px;
}

.copyright-link:hover path {
  fill: #81b3d2
}

.copyright-link:active path {
  fill: #b5b5b5;
}

.navigation-item-catalog a,
.navigation-item-catalog a:hover,
.navigation-item-catalog a:active {
  color: #766357;
}

.filter {
  padding: 27px 6% 31px 6%;

  color: #ffffff;

  background-image: url("../img/filter-background.jpg");
  background-position: 0px -56px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-fieldset {
  width: 160px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-fieldset:nth-child(2) {
  margin-left: 95px
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-legend {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  color: inherit;
}

.filter-input + label {
  position: relative;

  display: block;
  margin-top: 25px;
  padding-left: 40px;

  font: inherit;
  color: #ffffff;
}

.filter-input + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 0px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label {
  color: #6a6a6a;
}

.filter-input:disabled + label::before {
  background-image: url("../img/checkbox-off-dsbl.svg");
}

.filter-input:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-dsbl.svg");
}

.filter-fieldset:nth-child(3) {
  width: 318px;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  height: 30px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto 0 84px;
  padding: 6px 35px;

  line-height: 20px;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  /*outline: none;*/

  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort {
  padding: 32px 6% 28px 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  text-align: left;
}

.sort-heading {
  width: 164px;
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  vertical-align: top;
}

.sort-list-heading {
  display: block;
  width: 115px;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list a:hover {
  color: #b7d4e5;
}

.sort-list a:active {
  color: #000000;

  border-bottom: none;
}

.sort-item {
  width: 82px;

  font-size: 12px;
  line-height: 18px;
}

.sort-item a {
  color: #b2b2b2;

  border-bottom: 1px dotted #81b3d2;
}

.sort-item:nth-child(1) a {
  color: #81b3d2;

  border-bottom: none;
}

.arrow-up {
  margin-left: auto;
}

.arrow-up path {
  fill: #b2b2b2;
}

.arrow-down {
  margin-left: 12px;
}

.arrow-down path {
  fill: #81b3d2;
}

.arrow-up:hover path {
  fill: #000000;
}

.arrow-up:active path {
  fill: #81b3d2;
}

.results {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.row-hotel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 6% 24px 6%;

  border-top: 1px solid #e5e5e5;
}

.hotel-image {
  display: block;
  margin-top: 11px;
  margin-right: 30px;
}

.hotel-heading {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.hotel-type {
  margin-top: 7px;

  text-align: left;
}

.hotel-text {
  display: block;
  margin: 0 0 14px 0;
}

.hotel-link {
  display: block;
  margin: 0;
  padding: 3px 17px 3px 17px;

  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-wrapper .hotel-type:nth-child(1) {
  margin-right: 6px;
}

.raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 111px;
  margin-left: auto;

  text-align: right;
}

.raiting-span::before {
  content: "";

  display: inline-block;
  width: 20px;
  height: 21px;
  margin-bottom: 41px;

  background-image: url("../img/star.svg");
  background-position: 3px 4px;
  background-repeat: no-repeat;
}

.raiting-text {
  margin: 0;
  padding: 3px 0 3px 2px;

  text-align: center;

  background-color: #f2f2f2;
}

.results .row-hotel:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
}

@-webkit-keyframes bounce {
  0%   { -webkit-transform: translateY(-395px); transform: translateY(-395px); }
  70%  { -webkit-transform: translateY(30px); transform: translateY(30px);   }
  90%  { -webkit-transform: translateY(-10px); transform: translateY(-10px);  }
  100% { -webkit-transform: translateY(0); transform: translateY(0);      }
}

@keyframes bounce {
  0%   { -webkit-transform: translateY(-395px); transform: translateY(-395px); }
  70%  { -webkit-transform: translateY(30px); transform: translateY(30px);   }
  90%  { -webkit-transform: translateY(-10px); transform: translateY(-10px);  }
  100% { -webkit-transform: translateY(0); transform: translateY(0);      }
}

.modal-show {
  display: block;

  -webkit-animation-name: bounce;

          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {
  0%, 100%                { -webkit-transform: translateX(0); transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px); transform: translateX(10px);  }
}

@keyframes shake {
  0%, 100%                { -webkit-transform: translateX(0); transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px); transform: translateX(10px);  }
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
